# ignore data folder
data/
checkpoints/
checkpoints_pp/
outputs/loss_acc_plot.png
outputs/modelnet_grid.png

# ignore some extensions too
__pycache__/
#*.png
*.pyc
*.pkl
*.log
*.html
.env
venv/
.idea/
.DS_Store